<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>restfulBlogger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <%= stylesheet_link_tag 'screen.css' %>
    <%= javascript_include_tag :defaults %>

  </head>

  <body>
		<div id="Header">
			<%= image_tag 'logo.png' %>
			<div id="Search"></div>
			<ul class="mainNavigation">
				<%= render :partial => 'articles/nav' %>
			</ul>
		</div>
		<div id="Banner">
			<blockquote>
				<span>&quot;</span>We moved from thinking of ourselves as designers to thinking of ourselves as design thinkers. We have a methodology that enables us to come up with a solution that nobody has before.<span>&quot;</span> <cite>David Kelley</cite>
			</blockquote>
		</div>
		<% if flash[:error] %>
    	<div id="Error">
      	<%= flash[:error] %>
    	</div>
		<% end %>
		<% if flash[:notice] %>
    	<div id="Notice">
      	<%= flash[:notice] %>
    	</div>
		<% end %>
		<% if flash[:warning] %>
    	<div id="Worning">
      	<%= flash[:warning] %>
    	</div>
		<% end %>
		<div id="ContentContainer">
  		<%= yield  %>
		</div>
		<div id="Footer">
			<%= image_tag 'logo.png' %>
			<div class="navigation">
				<ul class="footerNavigation">
					<%= render :partial => 'articles/nav' %>
				</ul>
			</div>
		</div>
  </body>
</html>